[submodule "theme/hugo-theme-stack"]
	path = theme/hugo-theme-stack
	url = git@github.com:Vitality2024/hugo-theme-stack.git
[submodule "themes/hugo-theme-stack"]
	path = themes/hugo-theme-stack
	url = git@github.com:Vitality2024/hugo-theme-stack.git
